node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*
*.log
backend-server.log
backend-server.err.log

.DS_Store
*.pem

.env*.local

backend/data/db.json

*.tsbuildinfo

app-example
